# Python-related
__pycache__/
*.py[cod]
*.so

# pixi environments
.pixi
*.egg-info


# Virtual environment
venv/
env/
*.env

# IDE-related
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Operating system-related
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp
*~

# Project-specific
*.log
src/search_results/openalex/overarching/topic_search
src/search_results/openalex/overarching/boolkw_search
src/search_results/pubmed/overarching/
src/evaluation_results/


# Alternate Data Stream Identifiers
*:Zone.Identifier

# 