# Python-related
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.env

# IDE-related
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Operating system-related
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp
*~

# Project-specific
*.log
*.ris
debug_results/
manuscript/

#temporary as this is a big set file 
search_results/ 