email = 'REPLACE_WITH_EMAIL' 
NCBI_API_KEY='REPLACE_WITH_NCBI_API_KEY' # Instructions: https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/ 
DB_NAME = 'living_ebg_surveillance' 
DB_USER = 'REPLACE_WITH_DB_USER' # usually this is the default setting which is postgres, but depends on your setup
DB_PWD = 'REPLACE_WITH_DB_PASSWORD' # this is the password for the postgres user
DB_PORT = '5432' #deafult is 5432 but might be different depending on your setup
DB_HOST = 'localhost' #deault is local hostbut might be different depending on your setup